*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(236, 209, 237);
}

.barra{
    background-color: #9E57A0;
    height: 45px;
    width: 50%;
    margin: 130px auto;
    box-shadow: inset 6px 6px 12px #672F68,
                inset -6px -6px 12px #B870BA;
    overflow: hidden;
    border: none;
    border-radius: 20rem;
}

.progreso{
    height: 100%;
    width: 0;
    background-color: #16A085;
    box-shadow: 0 0 10px #16A085,
                0 0 20px #16A085;
    display: block;
    border-radius: 20rem;
}

.porcentaje{
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    transform: translatey(100px);
    color: #16A085;
}

body.celebracion{
    background-image: url("../img/celebracion.gif");
    background-size: cover;
    background-repeat: no-repeat;
}